body
    .about-product
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        img 
            padding-right: 20px;

        ul:nth-child(2)
            li 
                font-size: 50pt;
                font-weight: 800;
                color: main-green;
                margin: 0;
                padding: 10px 0;
                text-align: right;

        ul:nth-child(3)
            li 
                font-size: 18pt;
                font-weight: 400;
                color: medium-gray;
                margin: 0;
                padding: 40px 0;
               