body
    .about-mockups
        margin-bottom: 100px;
        ul
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li h3
                text-align: center;
                font-size: 18pt;
                font-weight: 400;

                span 
                    color: main-green;

                 &::after
                    content: ""
                    background-color: medium-gray
                    height 1px
                    width: 120px
                    display: block
                    margin: 35px auto