body 
    .clients
        height: 350px
        width: 100%
        background-color: main-green
        text-align: center
        padding-top:50px
        margin-bottom: 100px;

        ul
            list-style-type: none
            display: flex
            justify-content:space-around      

            li            
                a
                    text-decoration: none 