body
    .contact
        display flex
        text-align: center
        flex-direction: column
        margin: 50px auto
        
        h2
            font-size: 27pt; 
            font-weight: 900;
            margin: 0 auto
        h3
            font-size 23pt 
            font-weight: 400
            margin: 0;
            color: medium-gray
                
            &::after
                content: ""
                background-color: medium-gray
                height 1px
                width: 151px
                display: block
                margin: 35px auto