body
    .join
        margin-bottom: 90px;  
        ul
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
    
            li
                text-align: center;
                width: 33.3333%;
                padding: 0 80px;
                margin-top: 40px;
                h3
                    font-size: 18pt;
                    font-weight: 400;
                    &::after
                        content: "";
                        display: block;
                        width: 80px;
                        height 1px;
                        background-color: medium-gray;
                        margin: 10px auto;

                    span
                        color: main-green;
                p
                    font-size: 13pt;
                    font-weight: 400;
                    color: medium-gray;