.numbers 
    background-color: lightest-gray;
    padding: 100px 0;

    ul
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 0;

        li
            text-align: center;

            h2
                font-size: 50pt;
                font-weight: 800;
                color: main-green;
                margin: 0;
                padding: 0;

            p
                font-size: 18pt;
                font-weight: 400;
                color: medium-gray;
                margin: 0;
                padding: 0;