body 
    .quote
        width: 100%
        background-color: main-green
        text-align: center
        padding-top:50px
        margin-bottom: 100px;

        p
            font-size: 21pt
            font-weight: 400
            color: lightest-gray
            margin: auto 150px
            
            &:nth-child(2)
                font-size: 18pt
                

                &::before
                    content: ""
                    background-color: lightest-gray
                    height: 1px;
                    width: 150px;
                    display: block;
                    margin: 10px auto
      

        button 
           margin: 50px 0;
    .about-quote
        margin-bottom: 0;
           